<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Actix Todo Example</title>

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div>
    <form action="/post_login" method="post">
        <div class="field">
            <div>
                <p>email</p>
                <input type="text" name="text" id="text">
            </div>
        </div>

        <div class="field">
            <div>
                <p>password</p>
                <input type="text" name="password" id="password">
            </div>
        </div>

        <button type="submit"> login</button>
    </form>
</div>

</body>
</html>